
.some-class {
  color: var(--color-blue);
  font-size: 24vh;
}

.color-0 {
  background: var(--color-white);
}
.color-1 {
  background: var(--color-orange);
}
.color-2 {
  background: var(--color-yellow);
}
.color-3 {
  background: var(--color-blue);
}
.color-4 {
  background: var(--color-purple);
}
.color-5 {
  background: var(--color-green);
}
.color-6 {
  background: var(--color-teal);
}
.color-7 {
  background: var(--color-red);
}


.grid-square {
  border: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-top-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-area: c; /* Assign to grid area c */
}

.next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: l; /* Grid area l left column */
}

